/* ������ʽ�� */

.w {
	width: 1190px;
	/* �����İ��� */
	margin: 0 auto;
}

body {
	background-color: #f0f3ef;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.f10 {
	color: #f10215!important;
}

input,
button {
	border: 0px;
	outline: none;
	/* ������������� */
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #999999;
	display: inline-block;
}

span {
	color: #ccc;
	margin: 0 5px;
}


/* header--��ʼ */

header {
	height: 80px;
	background-color: #5a0b11;
}


/* header--���� */


/* ���ٵ�����--��ʼ */

.shortcut {
	height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #cccccc;
	font-size: 12px;
	color: #999999;
}

.city {
	line-height: 30px;
	margin-left: 205px;
}

.shortcut a {
	line-height: 30px;
}

.shortcut a:hover {
	color: #e33333;
}

.shortcut ul li {
	float: left;
	position: relative;
}

.shortcut i {
	font-family: "icomoon";
	font-style: normal;
}

.space {
	width: 1px;
	height: 10px;
	background-color: #cccccc;
	margin: 11px 12px 0;
}

a .qrcode {
	position: absolute;
	right: -12px;
	margin: 0 1px 0px 0px;
	width: 66px;
	height: 66px;
	border: 2px solid #cfcfcf;
	background: #f6f6f6 50% no-repeat;
}


/* ���ٵ�����--���� */


/* ������--��ʼ */

.middle {
	height: 140px;
	position: relative;
}

.logo h1 a {
	display: block;
	width: 190px;
	height: 170px;
	background: no-repeat;
	position: absolute;
	left: 0;
	top: -31px;
	box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2), -1px 0px 1px rgba(0, 0, 0, 0.2);
}

.form {
	width: 550px;
	height: 35px;
	position: absolute;
	left: 320px;
	top: 25px;
	display: flex;
	position: relative;
}

.form input {
	width: 91%;
	padding-left: 6px;
	font-size: 14px;
	color: #333;
}

.form button {
	width: 9%;
	background-color: #f10215;
}

.form .camera i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 20px;
	color: #999;
	position: absolute;
	right: 65px;
	top: 5px;
}

.form button i {
	font-family: "icomoon";
	font-style: normal;
	color: #fff;
	font-size: 20px;
}

.form button,
.form .camera i {
	cursor: pointer;
}

.shopCar a {
	width: 188px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background-color: pink;
	position: absolute;
	right: 100px;
	top: 25px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 12px;
	color: #f10214;
}

.shopCar i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 14px;
	margin-right: 6px;
}

.shopCar span {
	height: 14px;
	width: 14px;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	background-color: #f10214;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 36px;
	top: 6px;
}

.hotwords {
	position: absolute;
	left: 320px;
	top: 65px;
}

.hotwords a {
	margin: 0 3px;
	font-size: 12px;
}

.navitems {
	position: absolute;
	bottom: 0;
	left: 225px;
	padding-bottom: 10px;
}

.navitems li {
	float: left;
	margin-right: 23px;
}

.navitems li a {
	font-size: 14px;
	color: #333;
}

.navitems li a:hover {
	color: #e33333;
}

.navitems .space1 {
	width: 1px;
	height: 10px;
	background-color: #cccccc;
	margin-top: 5px;
}

.advertisement a {
	display: block;
	width: 190px;
	height: 40px;
	background: no-repeat;
	position: absolute;
	right: 0;
	bottom: 10px;
}

footer {
	margin-top: 35px;
	background-color: #F0F3EF;
}

.service {
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
}

.service ul {
	display: flex;
	flex-direction: row;
}

.service ul li {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #444;
	flex: 1;
	position: relative;
}

.service ul li:nth-child(1) h5,
.service ul li:nth-child(2) h5,
.service ul li:nth-child(3) h5,
.service ul li:nth-child(4) h5 {
	width: 36px;
	height: 43px;
	position: absolute;
	bottom: -12px;
	left: 22px;
}

.service ul li:nth-child(1) h5 {
	background: no-repeat left bottom;
}

.service ul li:nth-child(2) h5 {
	background: no-repeat -41px bottom;
}

.service ul li:nth-child(3) h5 {
	background: no-repeat -82px bottom;
}

.service ul li:nth-child(4) h5 {
	background: no-repeat -123px bottom;
}

.help {
	height: 200px;
	border-bottom: 1px solid #dedede;
}

.help ul li {
	float: left;
	padding-right: 140px;
}

.help ul li:last-child {
	padding-right: 0;
}

.help dl dt {
	margin-top: 20px;
	margin-bottom: 5px;
	color: #666;
}

.help dl dd a {
	margin-top: 10px;
	font-size: 12px;
	color: #666;
}

.help dl dd a:hover {
	color: #c81623;
}

.content {
	width: 200px;
	height: 150px;
	margin-top: 20px;
	color: #666;
	background: no-repeat;
	font-size: 12px;
}

.content h5 {
	text-align: center;
	font-size: 14px;
}

.content p:first-child {
	line-height: 18px;
	margin: 20px 10px 0;
}

.content p a {
	float: right;
	color: #666;
	margin-right: 10px;
}

.content p a i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 16px;
	color: #666;
}

.copyright {
	padding-top: 20px;
	text-align: center;
}

.copyright p a {
	color: #666;
	font-size: 12px;
}

.safe {
	margin-top: 10px;
}

.safe p a {
	color: #999;
	padding-top: 10px;
}

.content p a:hover,
.copyright p a:hover,
.safe p a:hover {
	color: #c81623;
}

.icomoon p a {
	display: inline-block;
	margin-top: 35px;
	width: 105px;
	height: 30px;
	text-align: center;
}

.icomoon p a:nth-child(1) {
	background: no-repeat right top;
}

.icomoon p a:nth-child(2) {
	background: no-repeat right -38px;
}

.icomoon p a:nth-child(3) {
	background: no-repeat right -76px;
}

.icomoon p a:nth-child(4) {
	background: no-repeat right -114px;
}

.icomoon p a:nth-child(5) {
	background: no-repeat right -152px;
}


/* ҳ��ײ�--end */