*{
    margin: 0;
    padding: 0;
    position: relative;
}
a{
    text-decoration: none;
}
/*=====1¡¢header=====*/
#header{
	width:100%;
	height:120px;
	background-color:white;
	border-bottom:1px solid rgb(200,200,200);
}
#header img{
    
    position: absolute;
    
    /*´¹Ö±¾ÓÖÐ*/
    left: 20%;
    top:20px;
   
}
#header  p{
	 position: absolute;
    right:20%;
    bottom:20px;
    
    /*×ÖÌå*/
    font-size: 15px;
    color: rgb(153,153,153);
}
#header  p a{
	 color: rgb(255,0,0);
}
#header a:hover{
    color: red;
    text-decoration: underline;
}

/*=====2¡¢content=====*/
#content{
	left:20%;
    width: 60%;
    height: 600px;
  
    
   
    background-color: white;
     
	border-bottom:1px solid rgb(200,200,200);
}
#content .input_div{
	width:400px;
	height:450px;
	background-color: white;
	left:35%;
	
}

#content  .input_div img {
	top:50px;
	
}

#content  .input_div .input-middle {
	top:-10%;
	height:200px;
	left:4%;
}

#content  .input_div .input-middle input{
	height:40px;
	top:149px;
	width:94%;
	left:-2%;
}
#content  .input_div .info-bottom button{
	height:51px;
	width:94%; 
	left:2%;
	top:5px;

}
#content  .input_div .info-bottom .dianji{
	 background-color: white;
	 border:1px solid rgb(200,200,200);
	
	}

#content  .input_div .info-bottom .xiayi{
	top:40px;
	 background-color: red;
	 color:white;
	 border:none;
	}
#content  .input_div .info-bottomer{
	height:20px;
	top:30px;
	font-size:14px;
	
}
#content  .input_div .info-bottomer a{
	color:rgb(0,0,0)
}
#content  .input_div .info-bottomer a:hover{
	color:rgb(255,0,0);
}
#content  .input_div .info-bottomer .qiye{
	top:10px;
	left:10px;
}
#content  .input_div .info-bottomer .haiwai{
	top:10px;
	left:130px;
}
#content  .input_div .info-bottomer .qiyetu{
	top:20px;
	left:7px;
}
#content  .input_div .info-bottomer .haiwaitu{
	top:20px;
	left:130px;
}


/*=====3¡¢footer=====*/
#footer{
   left:20%;
    width: 60%;
    height: 120px;
   
    font-size: 12px;
    text-align: center;
    top: 80px;
}
#footer .versions{
    top: 5px;
}

#footer .other a{
    font-size: 12px;
    color:rgb(200,200,200);
}
#footer .other a:hover{
    text-decoration: underline;
    color: rgb(255,0,0);
}
